* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html, body, #root, #root>.outer-wrapper {
  height: 100%;
}

.mt-sm {
  margin-top: 7px;
}

.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 25px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-4 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 75px;
}

.mb-sm {
  margin-bottom: 7px;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 25px;
}

.mb-3 {
  margin-bottom: 40px;
}

.mb-4 {
  margin-bottom: 60px;
}

.mb-5 {
  margin-bottom: 75px;
}

.mr-sm {
  margin-right: 7px;
}

.mr-1 {
  margin-right: 15px;
}

.mr-2 {
  margin-right: 25px;
}

.mr-3 {
  margin-right: 40px;
}

.mr-4 {
  margin-right: 60px;
}

.mr-5 {
  margin-right: 75px;
}

.ml-sm {
  margin-left: 7px;
}

.ml-1 {
  margin-left: 15px;
}

.ml-2 {
  margin-left: 25px;
}

.ml-3 {
  margin-left: 40px;
}

.ml-4 {
  margin-left: 60px;
}

.ml-5 {
  margin-left: 75px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 25px;
}

.pt-5 {
  padding-top: 35px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 25px;
}

.pb-5 {
  padding-bottom: 35px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 25px;
}

.pr-5 {
  padding-right: 35px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 25px;
}

.pl-5 {
  padding-left: 35px;
}

.full {
  height: 100%;
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-max {
  max-height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-23 {
  width: 23%;
}

.w-max {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.heading {
  font-size: 20px;
}

.cat-heading {
  margin-top: -5px;
  font-style: italic;
}

.text-i {
  font-style: italic;
}

.text-b {
  font-weight: bold;
}

.text-u {
  text-decoration: underline;
}

.view-all {
  padding: 5px 30px;
  border-radius: 5px;
  border: solid 1px rgb(218, 218, 218);
}

.bg-hover:hover {
  background-color: rgb(235, 235, 235);
}

.bg-light-gray {
  background-color: rgb(235, 235, 235);
}

.bg-x-light-gray {
  background-color: rgb(245, 245, 245);
}

.light-border {
  border: solid 1px lightgray;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-sa {
  justify-content: space-around;
}

.justify-sb {
  justify-content: space-between;
}

.justify-se {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.wrap-around {
  flex-wrap: wrap;
}

.crop {
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.crop img {
  max-width: 500px;
  max-height: 500px;
}

.all-img {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.all-img img {
  max-width: 400px;
  max-height: 400px;
}

#search {
  margin: 0;
}

#search-area {
  position: relative;
}

#search-area ul {
  border: solid 1px lightgray;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  margin: 0;
  width: 100%;
}

#search-area ul li {
  list-style: none;
  padding: 8px 12px;
  background-color: white;
}

#search-area ul li:hover {
  background-color: rgb(233, 233, 233);
}

.sugg-active {
  background-color: rgb(233, 233, 233)!important;
}