* {
  margin: 0;
  padding: 0;
}

.mt-1 {
  margin-right: 10px;
}

.mt-2 {
  margin-right: 20px;
}

.mt-3 {
  margin-right: 30px;
}

.mt-4 {
  margin-right: 40px;
}

.mt-5 {
  margin-right: 50px;
}

.mb-1 {
  margin-right: 10px;
}

.mb-2 {
  margin-right: 20px;
}

.mb-3 {
  margin-right: 30px;
}

.mb-4 {
  margin-right: 40px;
}

.mb-5 {
  margin-right: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.ml-1 {
  margin-right: 10px;
}

.ml-2 {
  margin-right: 20px;
}

.ml-3 {
  margin-right: 30px;
}

.ml-4 {
  margin-right: 40px;
}

.ml-5 {
  margin-right: 50px;
}

.result-item {
  border: solid 1px gray;
}